html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: sans-serif;
	overflow: hidden;
}

#imported {
	width: 200px;
	height: 390px;
	border: 2px solid black;
	position: absolute;
	top: 50px;
	left: 10px;
}

.importedVideo {
	width: 200px;
	height: 100px;
	border-bottom: 2px solid black;
	padding: 20px 20px;
	box-sizing: border-box;
	user-select: none;
	cursor: move;
}

#videoPlayer {
	position: absolute;
	top: 50px;
	right: 10px;
	user-select: none;
}
#player {
	width: 640px;
	height: 360px;
	border: 2px solid black;
}

#playerUI {
	border: 2px solid black;
	border-top: transparent;
	width: 640px;
	height: 30px;
	margin-top: -4px;
}

#playerUI img {
	height: 30px;
	width: 30px;
	cursor: pointer;
}

#playerUI img:hover {
	background: #ededed;
}

#timeline {
	margin-left: 0px;
	margin-right: 10px;
	width: calc(100% - 25px);
	height: calc(100% - 440px - 50px);
	border: 2px solid black;

	position: absolute;
	bottom: 10px;
	left: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
}

#timeline .section {
	width: 500%;
	height: 50%;
}

#time {
	position: absolute;
	width: 3px;
	height: 100%;
	background: rgba(29, 169, 29, 0.64);
}

#time:hover {
	width: 4px;
	background-color: green;
	cursor: move;
}

#video {
	border-bottom: 2px solid black;
}

#audio {
	display: none;
}

.media {
	height: 140px;
	border: 2px solid black;
	border-left: transparent;
	margin-top: 2.5px;

	display: inline-block;
	word-wrap: break-word;
	float: left;

	user-select: none;
}

.media span {
	display: inline-block;
	width: 100%;
}

.media img:hover {
	background-color: lightgrey;
	cursor: pointer;
}

#mediaElements {
	width: 10px;
	height: 10px;
	overflow: hidden;
	visibility: hidden;
	position: absolute;
}

#contextMenu {
	position: absolute;
	width: 200px;
	height: 300px;
	border: 1px solid black;
	background: lightgrey;
	display: none;
}

#contextMenu .item {
	width: 100%;
	height: 50px;
	padding: 16px;
	text-align: center;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
}

#topBar {
	width: 100%;
	height: 30px;
	border-bottom: 2px solid black;
}

#topBar .item {
	width: 100px;
	height: 30px;
	border-right: 2px solid black;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
	display: table-cell;
}

.item:hover {
	background: darkgrey;
}

#mediaEffects {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	top: 20px;
	left: 20px;
	display: none;
}

.popup {
	position: absolute;
	border: 2px solid black;
	background: white;
}

.popup .top {
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
	padding: 4px 4px;
	box-sizing: border-box;
}

.popup .content {
	width: 100%;
	height: 100%;
	padding: 10px 10px;
}

#mediaEffects .content .effectsPreview {
	position: absolute;
	width: calc(100% - 500px);
	right: 40px;
	bottom: 16px;
	border: 2px solid black;
}

#mediaEffects .addedEffect {
	width: 400px;
	height: 200px;
	border-bottom: 2px solid black;
	padding: 10px 10px;
	box-sizing: border-box;
}

#mediaEffects .addedEffect input {
	display: block;
	margin-bottom: 10px;
}

#mediaEffects .availableEffects {
	width: calc(100% - 450px);
	height: 250px;
	border: 2px solid black;
	float: right;
	margin-right: 20px;
}

/* Notice the added s difference */
#mediaEffects .addedEffects {
	width: 400px;
	height: calc(100% - 70px);
	border: 2px solid black;
	display: table-cell;
	float: left;
}

#mediaEffects .availableEffect {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	display: table-cell;
	margin-top: 10px;
	margin-left: 10px;
	display: block;
	padding: 5px 5px;
	box-sizing: border-box;
	cursor: pointer;
	user-select: none;
}

.popup .top span {
	font-size: 25px;
	user-select: none;
}

.popup .top img {
	float: right;
	cursor: pointer;
	user-select: none;
}
